@media only screen and (max-width : 1200px) {
  .controls-wrap {
      display: block;
  }
  .menu, .pause-menu {
    width: 50%;
  }
}
@media only screen and (max-width : 991px) {
}

@media only screen and (max-width : 767px) {
  .menu, .pause-menu {
    width: 75%;
  }
  .logo {
    width: 315px;
    height: 102px;
  }
}

@media only screen and (max-width : 480px) {
}
